header {
  text-align: center
}

figure {
  text-align: center
}

p {
  text-align: center
}

/*section #details {*/
/*    display:inline-block;*/
/*}*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
